section {
    /* fixes nav obstructing sections when using anchors */
    padding-top: 70px;
    margin-top: -70px;
}

.feature {
    text-align: center;
}

.feature > .icon {
    width: 10rem;
    height: 10rem;
    padding: 2rem;
    text-align: center;
    display: inline-block;
}

.feature > .icon > img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}