/* required for scrollspy */
body {
    position: relative;
}

/* general section padding */
section {
    padding: 5rem 0;
}

/******************************/
/*         NAVIGATION         */
/******************************/

.navbar-animated, .navbar-animated .nav-link, .navbar-animated .navbar-brand img {
    transition: 200ms all ease;
}

.navbar-brand img {
    width: 120px;
}

.nav-top .navbar-brand img {
    width: 180px;
}

.bg-dark {
    background-color: rgb(48, 48, 48) !important;
}

.nav-top {
    background-color: transparent !important;
}

.nav-top .nav-link {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#site-navigation.nav-top .nav-link:hover {
    background-color: transparent;
}

#site-navigation .nav-link:hover {
    background-color: rgb(32, 29, 29);
}

/******************************/
/*            HOME            */
/******************************/

section#home {
    display: block;
    color: white;
    padding: 0;
}

.video-background {
    width: 100%;
    height: 100%;
    position: relative;
}

.video-background .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
    background: black center;
}

.video-background .background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    opacity: 0.75;
}

.video-background .overlay {
    padding: 15rem 1rem;
    text-align: center;
}

/******************************/
/*          FEATURES          */
/******************************/
section#features {

}

.feature {
    text-align: center;
}

.feature > .icon {
    width: 10rem;
    height: 10rem;
    padding: 2rem;
    text-align: center;
    display: inline-block;
}

.feature > .icon > img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

/******************************/
/*           PRICING          */
/******************************/

section#pricing {

}

/******************************/
/*            TEAM            */
/******************************/

section#team {

}

.team-member {
    text-align: center;
}

.team-member .name {

}

.team-member .portrait {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.team-member .title {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 300;
}

.team-member .description {

}

/******************************/
/*           FOOTER           */
/******************************/

footer {
    background: #f5f5f5;
    padding: 1rem;
}